@import url('https://fonts.googleapis.com/css2?family=Ruda:wght@400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cabin:ital@0;1&display=swap');

* {  
    margin: 0;  
    padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
ul,
li,
a,
textarea 
{  
    margin: 0;  
    padding: 0;
}
a,
a:hover,
a:focus {
  	text-decoration: none;
  	color: inherit;
    display: inline-block;
}
ul {
  	padding: 0;
}
li {
  list-style-type: none;
}
button {
	border: none;
	outline: none;
	background: none;
}
html {
    scroll-behavior: smooth;
}
body {
  	font-family: "Ruda", sans-serif;
  	position: relative;
  	background: #ffffff;
    overflow-x: hidden;
}
.container {
  	max-width: 1500px;
}
select,
input {
  	outline: none;
  	border: none;
  	box-shadow: none;
	background: transparent;
}
.btnGlobal {
    position: relative;
    display: inline-block;
    font-size: 16px;
    font-weight: 700;
    line-height: 16px;
    background-color: transparent;
    color: #fff !important;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 20px 20px 20px 56px;
    border-radius: 10px;
    transition: all 0.5s ease-in-out;
}
.btnGlobal::before {
    content: url('../images/btnIcon.png');
    position: absolute;
    left: 10px;
    transform: translateX(0);
    top: 10px;
    width: 36px;
    height: 36px;
    transition: all 0.5s ease-in-out;
}
.btnGlobal:hover {
    padding: 20px 56px 20px 20px;
    background: linear-gradient(90deg, rgba(86,187,68,1) 53%, rgba(186,214,47,1) 75%);
}
.btnGlobal:hover::before{
    transform: translateX(112px);
}
.content{
    font-family: "Cabin", sans-serif;
    font-weight: 400;
}
/**************** Header CSS Starts Here *****************/
header {
    padding: 20px 0 0 0;
    position: absolute;
    width: 100%;
    top: 0;
    z-index: 1;
}
.headerInnerWrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.headerRight {
    display: flex;
    align-items: center;
}
.headerRight ul {
    display: flex;
    align-items: center;
    gap: 50px;
    margin-right: 50px;
}
.headerRight ul li a {
    position: relative;
    font-size: 16px;
    font-weight: 400;
    line-height: 36px;
    color: #ffffff;
    text-transform: uppercase;
}
.headerRight ul li a.active {
    font-weight: 700;
    color: #4CB847;
}
.headerRight ul li a::before {
    content: '';
    position: absolute;
    bottom: -5px;
    width: 100%;
    height: 1px;
    transition: all 0.25s;
    background: #4CB847;
    transform: scaleX(0);
}
.headerRight ul li a:hover:before {
    transform: scaleX(1);
}
.sticky {
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 390;
    background-color: #08202D;
    padding: 20px 0 !important;
    -webkit-animation: .6s animate_sticky;
    animation: .6s animate_sticky;
}
@keyframes animate_sticky {
    from {
        -webkit-transform: translate3d(0,-100%,0);
        transform: translate3d(0,-100%,0)
    }
    to {
        -webkit-transform: none;
        transform: none
    }
}
/**************** Header CSS Ends Here *****************/


/**************** Home Page Css Starts Here  ***********/
.heroSection {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 900px;
    background: url(../images/banner-bg.png) no-repeat;
    background-size: cover;
    background-position: center center;
}
.bannerSlider{
    width: 850px;
    margin: 0 auto;
    text-align: center;
}
.bannerSlider .bannerContentInner h1 {
    font-size: 96px;
    font-weight: 700;
    line-height: 115px;
    color: #ffffff;
    margin-bottom: 50px;
}
.bannerSlider .bannerContentInner .content {
    width: 700px;
    margin: 0 auto;
    font-size: 32px;
    line-height: 40px;
    color: #ffffff;
}
.bannerSlider .owl-nav {
    position: absolute;
    bottom: -230px;
    left: 0;
    right: 0;
    display: flex !important;
    justify-content: space-between;
    width: 250px;
    margin: 0 auto;
}
.bannerSlider .owl-nav button {
    font-size: 25px;
}
.bannerSlider .owl-nav button:hover {
    background: transparent !important;
}
.bannerSlider .owl-nav span {
    color: #ffffff !important
}
.bannerSlider .owl-dots {
    position: absolute;
    bottom: -215px;
    left: 0;
    right: 0;
    z-index: 1;
    display: flex;
    width: 200px;
    height: 2px;
    margin: 0 auto;
    background-color: #ffffff80;
    overflow: hidden;
}
.bannerSlider .owl-dots .owl-dot {
    width: 33%;
}
.bannerSlider .owl-dots .owl-dot span,
.bannerSlider .owl-dots .owl-dot.active span {
    margin: -1px 0 0 0  !important;
    width: 100% !important;
    height: 1px !important;
    background-color: #ffffff !important;
    cursor: pointer;
}
.bannerSlider .owl-dots .owl-dot span {
    background: transparent !important;
}

hr {
    border-top: 1px solid #E8E8E8;
    margin: 0;
    opacity: 1;
    background: none;
}

/* CLients Section */
.clientSection {
    padding: 100px 0;
}
.clientsLogoWrapper img {
    max-width: 150px;
    width: 100%;
    object-fit: contain;
    object-position: center;
}


/* About Section */
.aboutSection {
    padding: 100px 0;
}
.aboutSection .secTitle {
    width: 50%;
}
.aboutSection .secDesc {
    width: 80%;
}



/* General Classes for Label Title Desc Image */
.secLabel {
    font-size: 20px;
    font-weight: 600;
    line-height: 20px;
    color: #4CB847;
    text-transform: uppercase;
    letter-spacing: 5px;
}
.secTitle {
    font-size: 48px;
    font-weight: 700;
    line-height: 60px;
    color: #08202D;
    text-transform: capitalize;
    margin: 30px 0 50px;
}
.secDesc {
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    color: #787878;
}
.secBnr {
    width: 100%;
    min-height: 500px;
    overflow: hidden;
    border-radius: 10px;
}
.contactDetails {
    display: flex;
    justify-content: flex-start;
    gap: 100px;
    margin: 50px 0 70px;
}
.contactDetails a {
    font-size: 24px;
    font-weight: 600;
    line-height: 30px;
    color: #08202D;
}
/* General Classes for Label Title Desc Image */


/* Services Section */
.servicesSection {
    padding: 0 0 100px 0;
}
.servicesInnerWrap {
    display: flex;
    justify-content: space-between;
}
.servicesInnerWrap .leftCol {
    width: 45%
}
.servicesInnerWrap .rightCol {
    width: 50%
}
.servicesInnerWrap .content {
    width: 70%
}
.accordion_container {
    border-top: 1px solid #E8E8E8;
}
.accordion_head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px 0;
    cursor: pointer;
}
.accordion_head p {
    font-size: 20px;
    font-weight: 700;
    line-height: 32px;
    color: #08202D;
}
.accordion_head span {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid #E8E8E8;
    color: #4CB847;
    font-size: 18px;
}
.servicesInnerWrap .accordion_body .content {
    width: 80%;
    padding-bottom: 20px;
    font-size: 16px;
    color: #787878;
}

.featuredWorkSec {
    padding: 100px 0 0 0;
}
.featuredWorkSec .secTitle {
    width: 50%;
}
.featuredWorkSec .secDesc {
    width: 65%;
    font-size: 24px;
    line-height: 36px;
}
.featuredSlider {
    margin-top: 70px;
}
.featuredSlider .item {
    width: 1500px;
    min-height: 750px;
    overflow: hidden;
    border-radius: 10px;
}
.firstItem {
    display: flex;
    justify-content: flex-start;
    align-items: end;
    background: url(../images/feature-img-1.png) no-repeat;
    background-size: cover;
    background-position: center center;
    padding: 0 0 70px 70px;
}
.workDescBox {
    width: 600px;
    padding: 40px 30px 20px 20px;
    border-radius: 10px;
    border: 1px solid #ffffff80;
    background: linear-gradient(90deg, rgba(0,0,0,0.4) 29%, rgba(0,0,0,0.5) 62%);
}
.workDescBox .head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.workDescBox .head .title {
    font-size: 48px;
    font-weight: 700;
    line-height: 60px;
    color: #ffffff;
}
.workDescBox .head .label {
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    color: #ffffff;
}
.workDescBox .workDesc {
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin: 20px 0 30px 0;
    color: #ffffff;
}
.workDescBox .cta {
    width: 130px;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px 20px;
    color: #ffffff;
    text-transform: uppercase;
}
.workDescBox .cta img {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    overflow: hidden;
}

.workProcessSec {
    padding: 100px 0;
}
.workProcessSec .secTitle {
    width: 50%;
}

.processRow {
    display: flex;
    justify-content: space-between;
}
.processRow .processBox {
    width: 18.5%;
}
.processRow .processBox span {
    font-size: 16px;
    font-weight: 400;
    color: #787878;
    line-height: 30px;
    display: block;
    border-bottom: 1px solid #E8E8E8;
}
.processRow .processBox .processTitle {
    font-size: 20px;
    font-weight: 700;
    line-height: 32px;
    color: #08202D;
    margin: 20px 0 30px;
}
.processRow .processBox .content {
    font-size: 16px;
    font-weight: 400;
    color: #787878;
    width: 80%;
}

.counterWrapper {
    display: flex;
    justify-content: space-between;
    background: #F9F9F9;
    padding: 50px 0 25px;
    border-top: 1px solid #E8E8E8;
    border-bottom: 1px solid #E8E8E8;
}
.counterWrapper .counterBox {
    width: 24%;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.counterBox .countNum {
    display: flex;
    align-items: baseline;
}
.counterBox .countNum h4 {
    font-size: 96px;
    font-weight: 400;
    color: #08202D;
    margin-bottom: 50px;
}
.counterBox .countNum span {
    font-size: 36px;
    font-weight: 400;
    color: #08202D;
}
.countLabel {
    font-size: 24px;
    font-weight: 700;
    line-height: 30px;
}

.ctaBarSection {
    padding: 100px 0;
}
.ctaBarWrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #08202D;
    padding: 75px;
    overflow: hidden;
    border-radius: 10px;
}
.ctaBarWrapper .leftCol {
    width: 50%;
    overflow: hidden;
}
.ctaBarWrapper .leftCol img {
    display: block;
    width: 100%;
    border-radius: 10px;
}
.ctaBarWrapper .rightCol {
    width: 35%;
}
.ctaBarWrapper .rightCol p,
.ctaBarWrapper .rightCol h6 {
    color: #ffffff;
}
.ctaBarWrapper .rightCol .secDesc {
    margin-bottom: 50px;
}

.chooseUsSection .secTitle {
    width: 40%;
}
.chooseWrapper {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.chooseWrapper .chooseBox {
    position: relative;
    width: 24%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
}
.chooseWrapper .chooseBox img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
.chooseWrapper .chooseBox .title {
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
    text-align: center;
}
.chooseWrapper .chooseBox .content {
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    width: 75%;
    margin: 0 auto;
    text-align: center;
    color: #787878;
}

.userInteractionBar {
    padding: 100px 0;
}
.userInteractionBar .innerContainer {
    padding: 70px 50px;
    background-color: #F9F9F9;
    border: 1px solid #E8E8E8;
    border-radius: 10px;
}
.userInteractionBar .innerContainer .secTitle {
    margin-top: 0;
    width: 85%;
}
.userInteractionBar .innerContainer  .contactDetails {
    margin-bottom: 0;
}
/**************** Home Page Css Ends Here  ***********/



/**************** Footer CSS Starts Here ***************/
footer {
    background-color: #08202D;
}
.footerWrapper {
    display: flex;
    justify-content: space-between;
    padding: 100px 0 50px 0;
}
.footerWrapper .leftCol {
    width: 34.5%;
}
.footerWrapper .leftCol .content {
    font-size: 20px;
    font-weight: 400;
    line-height: 36px;
    color: #ffffff;
    margin: 40px 0;
}
.footerWrapper .rightCol {
    width: 60%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.footerLinksCol ul li a {
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.5px;
    color: #ffffff;
    margin-bottom: 15px;
    display: inline-block;
    transition: all 0.3s ease-in-out;
}
.footerLinksCol ul li a:hover {
    color: #4CB847;
}
.footerLinksWrapper {
    display: flex;
    justify-content: space-between;
}
.addressLink {
    width: 80%;
}
.footerTitle {
    font-size: 16px;
    font-weight: 600;
    line-height: 26px;
    color:#4CB847;
    margin-bottom: 40px;
}
.socialLinksWrapper {
    display: flex;
    justify-content: flex-end;
    gap: 20px;
    margin-top: 30px;
}
.socialLinksWrapper a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    border: 1px solid #384b56;
    background-color: #152b38;
    transition: all 0.5s ease-in-out;
}
.socialLinksWrapper a:hover {
    background-color: #4CB847;
}
.socialLinksWrapper a img {
    max-width: 18px;
    width: 100%;
    min-height: 18px;
    max-height: 18px;
    height: 100%;
    display: block;
    object-fit: contain;
    object-position: center;
}
.copyRightBar {
    padding: 40px 0;
    border-top: 1px solid #787878;
}
.copyRightBar p {
    font-size: 14px;
    font-weight: 400;
    line-height: 44px;
    color: #ffffff;
    text-align: center;
}
/**************** Footer CSS Ends Here ***************/




